
<img *ngIf="mood==='happy'" src="./assets/icon/happyIconSmall.svg"/>
<img *ngIf="mood==='unhappy'" src="./assets/icon/unhappyIconSmall.svg"/>

<img *ngIf="reason==='loveLife'" src="./assets/icon/loveLifeIcon.svg"/>
<img *ngIf="reason==='place'" src="./assets/icon/placeIcon.svg"/>
<img *ngIf="reason==='socialLife'" src="./assets/icon/socialLifeIcon.svg"/>
<img *ngIf="reason==='weather'" src="./assets/icon/weatherIcon.svg"/>
<img *ngIf="reason==='health'" src="./assets/icon/healthIcon.svg"/>
<img *ngIf="reason==='freeTime'" src="./assets/icon/freeTimeIcon.svg"/>

{{note}}
