// @Author: admin
// @Date:   2017-05-03T03:55:16+02:00
// @Last modified by:   admin
// @Last modified time: 2017-05-09T12:10:30+02:00



page-home {

}

.btnz{
  background: transparent;
}

#entries{
  padding: 10px;
  text-align: center;
}

input{
  margin-bottom: 13px;
  text-align: left;
}

.feelyImg{
  height: 300px;
  max-width: 95%;
}

.reasonBubble{
  width: 350px;
  height: 179px;
  background-image: url('/assets/icon/reasonBubble.svg');
  background-repeat: no-repeat;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#stats{
  background: #ffffcc;
  padding: 12px;
  display: flex;
}

#feely{
  text-align: center;
}

.xtremebehaviours{
  width: 300px;
  height: 150px;
  padding-left: 12px;
  padding-top: 12px;
}

.behaviours{
  width: 220px;
  height: 150px;
}

.behaviours behaviour{
  display: block;
}
