<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf='isVisible===true'>
    <button (click)="checkMood('happy')">
      Happy
    </button>

    <button (click)="checkMood('unhappy')">
      Unhappy
    </button>
  </div>

  <br />

  <div *ngIf='isVisible===false'>

    <input [(ngModel)]="placeName" type="text">

    <br />

    <button (click)="checkReason('place')">
      Place
    </button>

    <button (click)="checkReason('loveLife')">
      Love Life
    </button>

    <button (click)="checkReason('socialLife')">
      Social Life
    </button>

    <button (click)="checkReason('weather')">
      Weather
    </button>

    <button (click)="checkReason('health')">
      Health
    </button>

    <button (click)="checkReason('freeTime')">
      Free Time
    </button>
  </div>

  <br />

  <img [src]="imageUrl">

  </ion-content>
