<!--
@Author: admin
@Date:   2017-05-03T03:55:16+02:00
@Last modified by:   admin
@Last modified time: 2017-05-10T12:55:48+02:00
-->



<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div id="entries">

    <div id="moodButtons" *ngIf='isVisible===true'>
      <button md-button class="btnz"
              (click)="checkMood('happy')">
        <feely-icon identity="happyBubble" size="normal" [off]="false"></feely-icon>
      </button>

      <button md-button class="btnz"
              (click)="checkMood('unhappy')">
        <feely-icon identity="unhappyBubble" size="normal" [off]="false"></feely-icon>
      </button>
    </div>

    <div id="reasonButton" *ngIf='isVisible===false'>

      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <feely-icon id="happyIconInput" [identity]="userStateData.mood" size="normal" [off]="false"></feely-icon>
          </ion-col>
          <ion-col col-1>
            <feely-icon id="noteIcon" identity="note" size="normal" [off]="false"></feely-icon>
          </ion-col>
          <ion-col col-9>
            <ion-input class="noteInput" [(ngModel)]="note" type="text" color="primary"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="reasonBubble">
        <span id="lovebtn">
          <button md-button class="btnz"
                  (click)="checkReason('loveLife')">
            <feely-icon identity="loveLife" size="normal" [off]="false"></feely-icon>
          </button>
        </span>

        <span id="placebtn">
          <button md-button class="btnz"
                  (click)="checkReason('place')">
            <feely-icon identity="place" size="normal" [off]="false"></feely-icon>
          </button>
        </span>

        <span id="socialbtn">
          <button md-button class="btnz"
                  (click)="checkReason('socialLife')">
            <feely-icon identity="socialLife" size="normal" [off]="false"></feely-icon>
          </button>
        </span>

        <span  id="weatherbtn">
          <button md-button class="btnz"
                  (click)="checkReason('weather')">
            <feely-icon identity="weather" size="normal" [off]="false"></feely-icon>
          </button>
        </span>

        <span  id="healthbtn">
          <button md-button class="btnz"
                  (click)="checkReason('health')">
            <feely-icon identity="health" size="normal" [off]="false"></feely-icon>
          </button>
        </span>

        <span id="freebtn">
          <button md-button class="btnz"
                  (click)="checkReason('freeTime')">
            <feely-icon identity="freeTime" size="normal" [off]="false"></feely-icon>
          </button>
        </span>
      </div>

    </div>

  </div>
  <div id="feely">
    <img class="feelyImg" [src]="imageUrl">
  </div>

  <div id="stats">
    <div class="xtremebehaviours">

    <xtreme-behaviour [xtremereason]="xtremReason"></xtreme-behaviour>

    </div>

    <div class="behaviours">

    <behaviour *ngFor="let item of behaviourTab" [mood]="item.mood" [reason]="item.reason" [note]="item.note"></behaviour>

    </div>
  </div>

  </ion-content>
